# change file name from .env.example to .env and fill in the values for the variables below
SLACK_CHANNEL = "id_here"
SLACK_TOKEN = "xoxb-driven-prefix-token_here"
SLACK_CLIENT_ID = "id_here"
SLACK_CLIENT_SECRET = "secret_here"
SLACK_SIGNING_SECRET = "secret_here"
SLACK_VERIFICATION_TOKEN = "token_here"
SLACK_APP_LEVEL_TOKEN = "xapp-driven-prefix-token_here"
TRELLO_KEY = "key_here"
TRELLO_TOKEN ="token_here"
TRELLO_SECRET = "secret_here"
TRELLO_BOARD_ID = "id_here"
GITHUB_TOKEN = "github_pat_driven-prefix-token_here"
OWNER = "github_owner_username_here"
REPO = "repository_name_here"
WITH_GHPR = "1"

For my junior brothers, if you read this:
There are five points to pass this subject without ennoying:
1. Control each single messages in slack.
You and your teammates must be professional actors in drama movive.
To be the most stupid and naive as you can. 
2. Do not ask any unclear descrition in elearning.
You should inform above point with classmates
Because of preventing some stupid love to show off.
3. Do not burn efforts to make code work early stage.
You should make enough commits (1-2/week/person).
with the simplest change each commit.
The git network graph is the most important. 
Each person is a git flow on single file with simple tilte:
Before you remove line, to make sure it work with below:
* Enough block (T,I,Z,O,L). S and J are not need because of mirrored flip.  
* Fixed matrix cell table (10x20).
* To use black X each enable cell for the simplest display.
* To use blank space for the remainning disable cell.
* To use move left and righth with <-- key and --> key.
E.g: 
main
|__test
  |__phucpt/xoa-remove-line-tu-code-mau
     |__truongtm/phuc-hoi-remove-line-va-lam-tinh-diem-moi-dong-xoa
     |__thaidb/phuc-hoi-remove-line-va-lam-hieu-ung-chop-tat-khi-xoa-dong
     |__vint/phuc-hoi-remove-line-va-lam-lat-khoi-ngau-nhien-khi-roi
     |__kiennt/phuc-hoi-remove-line-va-lam-phim-len-xuong-de-xoay
Each person code any change for at least a commit/week
Two last weeks, merge from teamamtes to teamlead
In this case, truongtm/*, thaidb/*, vint/*, kiennt/* 
merge to phucpt/*
If there are any conflict.
to add teammates do crazy change to have.
After solved conficts, merge to test
then the most tatent person do all 
for the whom you must know
for his crazy unexperience guides 
to complete for runable.

A little share:
To be honest, through this subject, I have a lot of lesson learnts of working  with an ego bossy person.

I am back to study university where is the place that I think that I can find the possitive and peaceful as less drama as possible. However, this subbject is the most annoyed drama one I have ever seen in my life by the one who want to teach this subject with the most realitics with his zero experience of what he teach.

I don't want to write negative things for someone, he keep his own validation's score. However I keep my professinal working standards in ICT industry to complete this project as perfect as posible.

I hope you complete this subject without an annoyed feeling like me.